{% extends "base.html" %}
{% block title %} Anasayfa {% endblock %}
<body>
    {% block content %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Yapılacaklar.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo:logout' %}">Çıkış Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hoşgeldiniz, {{user.username}}</a>
                </li>


              
                {% else %}
    
                <li class="nav-item">
                    <a style="float:right" class="nav-link" href="{% url 'todo:login' %}">Giriş Yap</a>
                    <a style="float:right" class="nav-link" href="{% url 'todo:register' %}">Kayıt Ol</a>
                </li>
    
                {% endif %}
            </ul>
        </div>
    </nav>
    


  
{% if user.is_authenticated %}    
    <h1>Yapilacaklar</h1>
    {% if todo_listesi %}
      <ul>
        {% for yapilacak in todo_listesi %}
          <li>
            {{ yapilacak.baslik }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Yapılacaklar listesi boş.</p>
    {% endif %}
{% else %}
    <div>
        <br/>
        <h1>Yapılacaklar Listesi Oluşturun.</h1>
        <br/>
        <h2>Basit ve Hızlı.</h2>
        <br/>
        <p>Yalnızca hızlı bir üyelikle, sınırsız bir şekilde kendi yapılacaklar listenizi oluşturmaya başlayabilirsiniz.</p>
        <p>Giriş yapmanız durumunda, listeleriniz tam da burada gözükmeye başlayacak.</p>
        
{% endif %}
    {% endblock %}
</body>
<footer>
    Made by AndylLow & Bitblocksplicer
<footer/>
